* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif; }
  * p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.main {
  min-height: 80vh;
  max-width: 100vw; }
  .main .banner {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../recursos/img/bannerdef.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
    max-width: 100vw;
    color: white;
    flex-wrap: wrap; }
  .main .articulos {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    color: #a2a2a2;
    padding: 30px;
    font-size: 15px; }
    .main .articulos img {
      width: 280px;
      padding: 15px;
      transition: 0.1s ease-out; }
      .main .articulos img:hover {
        scale: 1.1;
        transition: 0.1s; }
    .main .articulos .t-herrero {
      padding: 10px; }
      .main .articulos .t-herrero p {
        width: 292px;
        padding-top: 15px; }
      .main .articulos .t-herrero h2 {
        padding: 5px;
        background-color: beige; }
    .main .articulos .t-modena {
      justify-content: center;
      padding: 10px;
      align-items: center; }
      .main .articulos .t-modena p {
        width: 292px;
        padding-top: 15px; }
      .main .articulos .t-modena h2 {
        text-align: center;
        background-color: beige;
        padding: 5px; }
    .main .articulos .t-a30 {
      padding-left: 10px; }
      .main .articulos .t-a30 p {
        width: 292px;
        padding-top: 15px; }
      .main .articulos .t-a30 h2 {
        padding: 5px;
        background-color: beige; }

.header {
  background-color: #d4d4d4;
  min-height: 10vh;
  max-width: 100vw;
  text-decoration: none; }

.navbar-nav {
  align-items: center; }
  .navbar-nav a {
    color: #4c4c4c;
    font-size: 20px; }
    .navbar-nav a:hover {
      text-decoration: underline white;
      color: white; }

.jc-c {
  justify-content: center; }

#botonCarrito {
  display: flex;
  justify-content: flex-end;
  border: 0;
  margin: 15px;
  background-color: #d4d4d4; }

.footer {
  display: flex;
  background-color: #5c5c5c;
  color: #a8a8a8;
  justify-content: center;
  min-height: 10vh;
  max-width: 100vw;
  flex-wrap: wrap; }
  .footer__ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    list-style: none; }
  .footer__section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.main-sobre-nosotros {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80vh;
  max-width: 100vw;
  background-color: rgba(5, 7, 12, 0.75);
  color: #d9d9d9; }
  .main-sobre-nosotros .sn {
    text-align: center;
    max-width: 600px; }
    .main-sobre-nosotros .sn .formulario {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .main-sobre-nosotros .sn .formulario .boton {
        width: 100px;
        height: 35px;
        color: white;
        background-color: #959595;
        text-align: center;
        border-radius: 5px;
        transition: 0.4s ease-out; }
        .main-sobre-nosotros .sn .formulario .boton:hover {
          transition: 0.4s;
          background-color: white;
          color: gray; }
      .main-sobre-nosotros .sn .formulario input {
        text-align: center;
        background-color: #505050;
        border: solid gray 2px;
        border-radius: 5px;
        margin: 10px;
        height: 30px;
        width: 300px;
        transition: 0.4s ease-out; }
        .main-sobre-nosotros .sn .formulario input:focus {
          transition: 0.5s;
          color: black;
          background-color: white; }
    .main-sobre-nosotros .sn .seleccion-1 {
      text-align: center;
      background-color: #505050;
      border: solid gray 2px;
      border-radius: 5px;
      color: white;
      transition: 0.4s ease-out; }
      .main-sobre-nosotros .sn .seleccion-1:hover {
        transition: 0.4s;
        background-color: white;
        color: gray; }
    .main-sobre-nosotros .sn .seleccion-2 {
      text-align: center;
      background-color: #505050;
      border: solid gray 2px;
      border-radius: 5px;
      color: white;
      transition: 0.4s ease-out; }
      .main-sobre-nosotros .sn .seleccion-2:hover {
        transition: 0.4s;
        background-color: white;
        color: gray; }
    .main-sobre-nosotros .sn .comentario {
      height: 150px !important; }
    .main-sobre-nosotros .sn .selecciones select {
      margin: 20px; }
  .main-sobre-nosotros .map-img {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main-sobre-nosotros .map-img .img img {
      max-width: 35vw;
      padding: 20px; }
    .main-sobre-nosotros .map-img .map {
      padding: 30px;
      width: 50vw; }
      .main-sobre-nosotros .map-img .map h2 {
        padding: 20px;
        margin: 10px;
        text-align: center; }

.main-productos {
  font-size: xx-large;
  min-height: 80vh;
  max-width: 100vw;
  text-align: center;
  height: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  color: #d9d9d9; }
  .main-productos h1 {
    background-color: #646464;
    color: #d9d9d9;
    padding: 30px; }
  .main-productos .productos {
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 2fr);
    grid-auto-flow: row;
    gap: 0% 0%;
    grid-template-areas: "textos-1 producto-1" "producto-2 textos-2" "textos-3 producto-3" "producto-4 textos-4"; }
    .main-productos .productos img {
      max-width: 95%;
      padding: 25px;
      transition: 0.1s ease-out; }
    .main-productos .productos img:hover {
      scale: 1.02;
      transition: 0.1s; }
    .main-productos .productos h2 {
      max-width: 5%;
      color: #4f4f4f;
      background-color: #d6d6ab;
      max-width: 900px; }
  .main-productos .producto-1 {
    grid-area: producto-1; }
  .main-productos .producto-2 {
    grid-area: producto-2; }
  .main-productos .producto-3 {
    grid-area: producto-3; }
  .main-productos .producto-4 {
    grid-area: producto-4; }
  .main-productos .textos-1 {
    grid-area: textos-1;
    padding: 15px; }
  .main-productos .textos-2 {
    grid-area: textos-2;
    padding: 15px; }
  .main-productos .textos-3 {
    grid-area: textos-3;
    padding: 15px; }
  .main-productos .textos-4 {
    grid-area: textos-4;
    padding: 15px; }

h1 {
  padding-top: 40px; }

.main-cyc {
  text-align: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 85%;
  grid-template-areas: "h1 h1 h1 h1" "pintura madera micro aluar";
  align-items: center;
  min-height: 80vh;
  min-width: 100%;
  color: #bababa;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)); }
  .main-cyc img {
    max-width: 100%;
    height: 50%; }
  .main-cyc .presentacion {
    color: #d9d9d9;
    grid-area: h1; }
  .main-cyc p {
    padding-top: 15px; }
  .main-cyc .colores-pintura {
    height: 500px;
    background-color: #2a2a2a;
    padding: 10px;
    margin: 10px;
    grid-area: pintura; }
  .main-cyc .colores-simil-madera {
    height: 500px;
    background-color: #2a2a2a;
    padding: 10px;
    margin: 10px;
    grid-area: madera; }
  .main-cyc .colores-microtexturado {
    height: 500px;
    background-color: #2a2a2a;
    grid-area: micro;
    margin: 10px;
    padding: 10px; }
  .main-cyc .aluar {
    height: 500px;
    background-color: #2a2a2a;
    padding: 10px;
    margin: 10px;
    grid-area: aluar; }

body .compra-exitosa {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #111111bd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; }
  body .compra-exitosa-container {
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: #eeeec6;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    place-items: center;
    margin: auto; }
    body .compra-exitosa-container .cerrar-modal {
      padding: 7px;
      width: max-content;
      height: min-content;
      color: white;
      background-color: #505050;
      text-align: center;
      border-radius: 5px;
      border: solid gray 2px;
      transition: 0.4s ease-out; }
      body .compra-exitosa-container .cerrar-modal:hover {
        transition: 0.4s;
        background-color: white;
        border-color: black;
        color: black; }

body .main-compras {
  background-color: #c2c2b5;
  min-height: 80vh;
  text-align: center;
  color: #2a2a2a; }
  body .main-compras h1 {
    cursor: pointer; }
  body .main-compras .valor-dolar {
    border-radius: 5px;
    height: 10%;
    bottom: 0;
    left: 0;
    position: fixed;
    color: rgba(255, 255, 255, 0.891);
    margin: 20px;
    padding: 10px;
    background-color: #505050bd; }
  body .main-compras .datos-incompletos {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111111bd;
    display: flex; }
    body .main-compras .datos-incompletos .datos-incompletos-container {
      width: 90%;
      max-width: 600px;
      max-height: 90%;
      background-color: #eeeec6;
      border-radius: 6px;
      padding: 3em 2.5em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      place-items: center;
      margin: auto; }
      body .main-compras .datos-incompletos .datos-incompletos-container .cerrar-ventana {
        width: 120px;
        height: 35px;
        color: gray;
        background-color: #505050;
        text-align: center;
        border-radius: 5px;
        border: solid gray 2px;
        transition: 0.4s ease-out; }
        body .main-compras .datos-incompletos .datos-incompletos-container .cerrar-ventana:hover {
          transition: 0.4s;
          background-color: white;
          border-color: black;
          color: black; }
  body .main-compras .mainCompletarDatos {
    display: flex;
    justify-content: space-around; }
    body .main-compras .mainCompletarDatos .completar-datos {
      border: solid 3px gray;
      border-radius: 10px; }
      body .main-compras .mainCompletarDatos .completar-datos .total {
        padding: 10px;
        border-top: solid 1px gray;
        border-bottom: solid 1px gray; }
      body .main-compras .mainCompletarDatos .completar-datos .concretar-compra {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .main-compras .mainCompletarDatos .completar-datos .concretar-compra .cuotas-opciones {
          cursor: pointer;
          text-align: center;
          background-color: #505050;
          color: gray;
          border: solid gray 2px;
          border-radius: 5px;
          margin: 10px;
          height: 30px;
          width: 300px;
          transition: 0.4s ease-out; }
          body .main-compras .mainCompletarDatos .completar-datos .concretar-compra .cuotas-opciones:focus:hover {
            transition: 0.5s;
            color: black;
            border-color: black;
            background-color: white; }
        body .main-compras .mainCompletarDatos .completar-datos .concretar-compra input {
          color: black;
          text-align: center;
          background-color: #505050;
          border: solid gray 2px;
          border-radius: 5px;
          margin: 10px;
          height: 30px;
          width: 300px;
          transition: 0.4s ease-out; }
          body .main-compras .mainCompletarDatos .completar-datos .concretar-compra input:focus {
            transition: 0.5s;
            color: black;
            background-color: white; }
        body .main-compras .mainCompletarDatos .completar-datos .concretar-compra .boton-concretar-compra {
          width: 100px;
          height: 35px;
          color: gray;
          background-color: #505050;
          text-align: center;
          border-radius: 5px;
          border: solid gray 2px;
          transition: 0.4s ease-out; }
          body .main-compras .mainCompletarDatos .completar-datos .concretar-compra .boton-concretar-compra:hover {
            transition: 0.4s;
            background-color: white;
            border-color: black;
            color: black; }
    body .main-compras .mainCompletarDatos .carritoContent {
      margin: 10px;
      flex-wrap: wrap;
      padding: 20px;
      color: white;
      border-radius: 5px;
      background-color: #464646; }
      body .main-compras .mainCompletarDatos .carritoContent img {
        width: 30%; }
  body .main-compras #modalContainer {
    align-content: space-between;
    bottom: 20vh;
    left: 50vw;
    align-items: end;
    position: fixed;
    height: 80vh;
    width: 50vw;
    background-color: #111111bd;
    flex-wrap: wrap;
    color: white; }
    body .main-compras #modalContainer .footerModal {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      width: 100%; }
      body .main-compras #modalContainer .footerModal .finalizar-compra {
        margin-bottom: 10px;
        text-align: center;
        background-color: #505050;
        border: solid gray 2px;
        border-radius: 5px;
        padding: 5px;
        color: white;
        transition: 0.4s ease-out; }
        body .main-compras #modalContainer .footerModal .finalizar-compra:hover {
          transition: 0.4s;
          background-color: white;
          color: gray; }
      body .main-compras #modalContainer .footerModal .totalContent {
        margin: 10px; }
    body .main-compras #modalContainer .carrito {
      border: solid 1px #cbcbcb;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 20%;
      width: 100%;
      flex-wrap: wrap;
      margin: 5px; }
      body .main-compras #modalContainer .carrito .sumar {
        cursor: pointer; }
      body .main-compras #modalContainer .carrito .restar {
        cursor: pointer; }
      body .main-compras #modalContainer .carrito h3 {
        font-size: 15px; }
      body .main-compras #modalContainer .carrito img {
        margin: 5px;
        height: 80%; }
    body .main-compras #modalContainer .modal_header {
      width: 100%;
      height: 10%;
      background-color: #abababbd;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      display: flex;
      justify-content: space-around; }
      body .main-compras #modalContainer .modal_header .modalButton {
        cursor: pointer; }
    body .main-compras #modalContainer .toggleBorrarCarrito {
      width: 20%;
      font-size: 20px;
      margin: 20px;
      margin-bottom: 10px;
      text-align: center;
      background-color: #505050;
      border: solid gray 2px;
      border-radius: 5px;
      padding: 5px;
      color: white;
      transition: 0.4s ease-out; }
      body .main-compras #modalContainer .toggleBorrarCarrito:hover {
        transition: 0.4s;
        background-color: white;
        color: gray; }

body .seccionCompras {
  display: flex;
  flex-direction: row; }
  body .seccionCompras .container {
    border-right: solid 1px gray;
    height: min-content;
    max-width: 10%;
    display: flex;
    flex-direction: column; }
    body .seccionCompras .container h4 {
      cursor: pointer; }
    body .seccionCompras .container .aberturasContent {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: center; }
    body .seccionCompras .container .contentColores {
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }

body #filterProduct {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: min-content;
  margin: 0;
  padding: 0; }

body .toggleAberturas {
  cursor: pointer;
  display: flex;
  justify-content: flex-start; }

body .toggleColores {
  margin-left: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start; }

body h3 i .arrow::after {
  scale: 5;
  transition: .3s; }

body .product {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }

body #compras {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 85vw; }
  body #compras .content {
    width: 23%;
    background-color: white;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 5px; }
    body #compras .content img {
      height: 80%;
      width: 60%;
      padding: 20px; }
    body #compras .content .tituloProducto {
      width: 100%;
      border-bottom: solid 1px gray;
      border-top: solid 1px gray; }
    body #compras .content .price {
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif; }
    body #compras .content .botonAgregarAlCarrito {
      font-size: 20px;
      width: 50%;
      text-align: center;
      background-color: #505050;
      border: solid gray 2px;
      border-radius: 5px;
      padding: 5px;
      color: white;
      transition: 0.4s ease-out; }
      body #compras .content .botonAgregarAlCarrito:hover {
        transition: 0.4s;
        background-color: white;
        color: gray; }

.datos-incompletos-container {
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #eeeec6;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  place-items: center;
  margin: auto; }

.cerrar-ventana {
  width: 120px;
  height: 35px;
  color: gray;
  background-color: #505050;
  text-align: center;
  border-radius: 5px;
  border: solid gray 2px;
  transition: 0.4s ease-out; }
  .cerrar-ventana:hover {
    transition: 0.4s;
    background-color: white;
    border-color: black;
    color: black; }

/* mobile last */
@media (max-width: 500px) {
  .header {
    max-width: 100vw;
    justify-content: space-between;
    align-items: flex-start; }
  .jc-c {
    justify-content: center; }
  .main {
    max-width: 100%; }
  .main-sobre-nosotros {
    display: flex;
    flex-direction: column;
    max-width: 100vw; }
    .main-sobre-nosotros .map-img .img img {
      max-width: 80vw; }
    .main-sobre-nosotros .map-img .map {
      width: 100vw;
      padding-top: 30px;
      padding-bottom: 30px; }
    .main-sobre-nosotros .sn {
      max-width: 300px;
      text-align: center; }
    .main-sobre-nosotros .formulario {
      max-width: 300px; }
  button:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none; }
  /* .container-fluid{
    
    justify-content: flex-end !important;
} */
  .articulos {
    text-align: center;
    justify-content: center; }
    .articulos div {
      padding: 20px; }
  .main-productos .productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .main-productos .productos img {
      max-width: 320px; }
    .main-productos .productos p {
      font-size: 20px; }
  .main-proyecto .proyectos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .main-proyecto .proyectos img {
      max-width: 320px; }
  .main-cyc {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center; }
    .main-cyc .colores-simil-madera {
      align-items: center;
      padding: 5px; }
      .main-cyc .colores-simil-madera img {
        height: 70%;
        width: 300px; }
    .main-cyc .colores-pintura {
      align-items: center;
      padding: 5px; }
      .main-cyc .colores-pintura img {
        width: 300px; }
    .main-cyc .colores-microtexturado {
      align-items: center;
      padding: 5px; }
      .main-cyc .colores-microtexturado img {
        width: 300px; }
    .main-cyc .aluar {
      align-items: center;
      padding: 5px; }
      .main-cyc .aluar img {
        width: 80%; }
  .footer {
    max-width: 100vw;
    text-align: center; } }
