.main-compras{
    background-color: rgb(194, 194, 181);
   min-height: 80vh;
    text-align: center;
    color: rgb(42, 42, 42);
        .modal{right: 0;
        top: 0;
        position: fixed;
        height: 100vh;
        width: 20vw;
        background-color: #111111bd;
        flex-wrap: wrap;
        color: white;
      
        .totalContent{
          display: flex;
          flex-direction: row;
          align-items: flex-end;
            margin: 20px;
            
          }
        .carrito{
          flex-direction: row;
         width: 40%;

          flex-wrap: wrap;
          margin: 5px;
          img{
            width: 50%;
          
          
        }
      }
        .modal_header{
    width: 100%;
          .modalButton{
            cursor: pointer;
          }
          display: flex;
          justify-content: space-around;
        }
        .toggleBorrarCarrito{
            font-size: 20px;
            margin: 20px;
            margin-bottom: 10px;
        text-align: center;
        background-color: rgb(80, 80, 80);
        border: solid gray 2px;
        border-radius: 5px;
        padding: 5px;
        color: white;
        transition: 0.4s ease-out;
        &:hover {
            transition: 0.4s;
            background-color: white;
            color: gray;
            
        }
        
        }
       }
    .seccionCompras{
        display: flex;
       
     .product{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        
     }
       #compras{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90vw;
        
       }                     
     .content{
        width: 30%;
        background-color: white;
        height: min-content;
        margin: 20px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 5px;
        img{ width: max-content;
        }
        .tituloProducto{
            width: 100%;
            border-bottom: solid 1px gray;
            border-top: solid 1px gray;
            
        }
        .price{
            text-align: center;
            margin: 0;
            padding: 0;
           font-size: 30px;
           font-family:Arial, Helvetica, sans-serif;

        }
        
      .botonAgregarAlCarrito{
        font-size: 20px;
        width: 50%;
        height: 40%;
        text-align: center;
        background-color: rgb(80, 80, 80);
        border: solid gray 2px;
        border-radius: 5px;
        padding: 5px;
        color: white;
        transition: 0.4s ease-out;
        &:hover {
            transition: 0.4s;
            background-color: white;
            color: gray;
            
        }
      }
        
       img{
        height: 55vh;
       }
       
     }
.container{
  width: 10vw;
  display: flex;
  flex-direction: column;
  .toggleProductos{
    display: flex;
    flex-direction: column;

    .aberturasContent{
        margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   

   
    

}
.contentColores{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
     align-items: flex-start;
}
  }
}
.filter-product{
   
    cursor:pointer;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.toggleAberturas{
    cursor:pointer;
    display: flex;
    justify-content: flex-start;   
}

.toggleColores{
    margin-left: 10px;
    padding: 10px;
    
    cursor:pointer;
    display: flex;
    justify-content: flex-start;
}

       
    }
}
